.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-size: 15px;
    font-family:'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: hsl(212, 45%, 89%);
    text-align: center;
}

main {
    width: 350px;
    background-color:white;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
}

img {
    width: 100%;
    border-radius: 9px;
}

h2 {
    margin: 15px 18px 17px 0px;
    color:hsl(218, 44%, 22%);
}

p {
    color: hsl(0, 0%, 46%);
    margin: 0px 40px 20px 18px;
}